* {
    background: transparent;
    border: none;
    color: inherit;
}

label {
    font-size: 50px;
    color: #ff6e91;
    font-weight: bold;
    /*color: #ff80a2;*/
    padding: 5px;
}

.button-text {
    color: antiquewhite;
    font-size: 15px;
}

window {
    /*background-color: #ff6e91;*/
    background-color: #ff80a4;
}

.custom-button {
    /*background-color: #7a7a7a;*/
    /*color: aquamarine;*/
    border-radius: 50px;
    /*border-radius: 10px;*/
    /*padding: 10px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*min-height: 200px;*/
    /*min-width: 200px;*/
    /*max-height: 300px;*/
    /*max-width: 300px;*/

    background: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
}

button {
    /*min-height: 200px;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*min-width: 200px;*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*max-height: 300px;*/
    /*max-width: 300px;*/
    padding: 0;
}

.custom-button:hover {
    /*background-color: #737373;*/
    background-color: #ff7396;
    padding: 0;
}

.custom-button:active {
    /*background-color: #656565;*/
    background-color: #ff658a;
    padding: 0;
}

.nav-icon {
    /*background-color: white;*/

}